<header>
    <div class="max-width_container">
        <a href="#home"><img class="logo" src="assets/img/logo_website.png" alt="logo of the website"></a>
        <div class="nav_bar_desktop">
            <a [class.active_link]="activeSection === 'about'" class="nav_link hover_underline_animation"
                href="#about_me">About me</a>
            <a [class.active_link]="activeSection === 'skills'" class="nav_link hover_underline_animation"
                href="#skills">Skills</a>
           <!-- <a [class.active_link]="activeSection === 'portfolio'" class="nav_link hover_underline_animation"
                href="#portfolio">Portfolio</a> -->
            <a [class.active_link]="activeSection === 'contact'" class="nav_link hover_underline_animation"
                href="#contact">Contact</a>
        </div>
        <div (click)="openMenu()" [class.active]="menuOpen" class="menu_toggler"><span></span></div>
        <div [class.active]="menuOpen" class="nav_bar_mobil">
            <a [class.active_link]="activeSection === 'about'" class="nav_link hover_underline_animation"
                href="#about_me">About me</a>
            <a [class.active_link]="activeSection === 'skills'" class="nav_link hover_underline_animation"
                href="#skills">Skills</a>
            <!--<a [class.active_link]="activeSection === 'portfolio'" class="nav_link hover_underline_animation"
                href="#portfolio">Portfolio</a>-->
            <a [class.active_link]="activeSection === 'contact'" class="nav_link hover_underline_animation"
                href="#contact">Contact</a>
        </div>
    </div>
</header>
