header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100px;
    background-color: #141D2F;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: #00000040 0 4px 4px;

    a {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;

        &:hover {
            color: #00BEE8;
        }
    }
}

.hover_underline_animation {
    display: inline-block;
    position: relative;
    color: #00BEE8;
}

.hover_underline_animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4b47ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover_underline_animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav_bar {
    display: flex;
    gap: 29px;
}