<section>
    <div class="logo_imprint_box">
        <h2>Logo</h2>
        <a class="hover_underline_animation" href="#">Imprint</a>
    </div>
    <span>© Kevin Ammerman 2023</span>
    <div class="social_icons_container">
        <a class="link_hover" href="https://github.com/KevinAmmerman" target="_blank"><img src="assets/img/github.png"
                alt="github logo"></a>
        <a class="link_hover" href="mailto:k.ammerman@pm.me"><img src="assets/img/email.png" alt="email logo"></a>
        <a class="link_hover" href="https://www.linkedin.com/in/kevin-ammerman/" target="_blank"><img
                src="assets/img/linkedin.png" alt="linkedIn logo"></a>
    </div>
</section>
