<section id="about_me">
  <div class="max-width_container">
    <div class="about_me_container">
      <h2>{{ 'ABOUT.HEADING' | translate }}</h2>
      <div class="about_me_box">
        <p>{{ 'ABOUT.TEXT' | translate }}</p>
      </div>
      <div class="about_me_personal_box reveal" appReveal>
        <img src="assets/img/bulb_desktop.png" alt="Icon technical expertise">
        <p>{{ 'ABOUT.RESCUE_TEXT' | translate }}</p>
      </div>
      <div class="about_me_personal_box reveal" appReveal>
        <img src="assets/img/puzzle_desktop.png" alt="Icon scalability">
        <p>{{ 'ABOUT.PERFORMANCE_TEXT' | translate }}</p>
      </div>
    </div>
    <div class="picture_container">
      <div class="picture_frame">
        <img src="assets/img/Mittel%20(Profilbild-Kevin-Metzdorf).png" alt="Kevin Metzdorf - Senior Shopify Specialist">
      </div>
      <div class="line"></div>
    </div>
  </div>
  <img class="shadow_position" src="assets/img/purple_shadow.png" alt="decorative shadow">
</section>
