<section id="about_me">
    <div class="about_me_container">
        <h1>About me</h1>
        <div class="about_me_box">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nostrum in reprehenderit, culpa
                dolores, laudantium quam soluta delectus obcaecati aspernatur accusantium ex fuga fugiat officiis earum
                vero pariatur ut? Incidunt!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sequi perferendis ipsa, animi officia
                reprehenderit sed repellat voluptatem deleniti vero placeat at quod voluptates cumque impedit, id
                repellendus fugit architecto.
            </p>
        </div>
        <div class="about_me_personal_box">
            <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-once="true"
                src="assets/img/bulb_desktop.png" alt="blue bulb logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sequi perferendis ipsa, animi officia
                reprehenderit sed repellat voluptatem deleniti vero placeat at quod voluptates cumque impedit, id
                repellendus fugit architecto.</p>
        </div>
        <div class="about_me_personal_box">
            <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" data-aos-once="true"
                src="assets/img/puzzle_desktop.png" alt="blue puzzle logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sequi perferendis ipsa, animi officia
                reprehenderit sed repellat voluptatem deleniti vero placeat at quod voluptates cumque impedit, id
                repellendus fugit architecto.</p>
        </div>
    </div>
    <div class="picture_container">
        <div class="picture_frame">
            <img src="assets/img/me.png" alt="">
        </div>
        <div class="line"></div>
    </div>
    <img class="shadow_position" src="assets/img/purple_shadow.png" alt="purple shadows">
</section>