<section id="contact">
    <div class="headline_container">
        <div class="headline">
            <h2>Contact</h2>
        </div>
        <div data-aos="fade-right" data-aos-once="true" class="line"></div>
    </div>
    <div class="contact_container">
        <div class="contact_contant">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.
            </p>
            <span>Need a Frontend developer?<b>Contact me!</b></span>
            <span>k.ammerman@pm.me</span>
        </div>
        <form onsubmit="">
            <input type="text" placeholder="Your name">
            <input type="email" placeholder="Your email">
            <textarea placeholder="Your message" name="message" id="message" cols="30" rows="10"></textarea>
            <div class="btn_box">
                <button>Send message :)</button>
            </div>
        </form>
    </div>
</section>