<section id="contact">
    <div class="headline_container">
        <div class="headline">
            <h2>Contact</h2>
        </div>
        <div data-aos="fade-right" data-aos-once="true" class="line"></div>
    </div>
    <div class="contact_container">
        <div class="contact_contant">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.
            </p>
            <span>Need a Frontend developer?<b>Contact me!</b></span>
            <span>k.ammerman@pm.me</span>
        </div>
        <form onsubmit="">
            <input data-aos="flip-down" data-aos-duration="800" data-aos-delay="200" data-aos-once="true" type="text" placeholder="Your name">
            <input data-aos="flip-down" data-aos-duration="800" data-aos-delay="300" data-aos-once="true" type="email" placeholder="Your email">
            <textarea data-aos="flip-down" data-aos-duration="800" data-aos-delay="400" data-aos-once="true" placeholder="Your message" name="message" id="message" cols="30" rows="10"></textarea>
            <div class="btn_box">
                <button data-aos="flip-down" data-aos-duration="800" data-aos-delay="500" data-aos-once="true">Send message :)</button>
            </div>
        </form>
    </div>
    <a class="back_home_btn" href="#home"><img src="assets/img/go_up_button.png" alt="logo of a arrow showing upwards"></a>
</section>