<section>
  <div class="legal-container">
    <h1>{{ 'AI_POLICY.TITLE' | translate }}</h1>

    <p>{{ 'AI_POLICY.P1' | translate }}</p>

    <h2>{{ 'AI_POLICY.S1' | translate }}</h2>
    <p>{{ 'AI_POLICY.S1_P1' | translate }}</p>
    <p>{{ 'AI_POLICY.S1_P2' | translate }}</p>

    <h2>{{ 'AI_POLICY.S2' | translate }}</h2>
    <p>{{ 'AI_POLICY.S2_P1' | translate }}</p>

    <h2>{{ 'AI_POLICY.S3' | translate }}</h2>
    <p>{{ 'AI_POLICY.S3_P1' | translate }}</p>

    <h2>{{ 'AI_POLICY.S4' | translate }}</h2>
    <p>{{ 'AI_POLICY.S4_P1' | translate }}</p>

    <h2>{{ 'AI_POLICY.S5' | translate }}</h2>
    <p [innerHTML]="('AI_POLICY.S5_P1' | translate)"></p>

    <p><em>{{ 'AI_POLICY.UPDATED' | translate }}</em></p>
  </div>
</section>
