<section id="skills">
    <div class="max-width_container">
        <div class="btn_mobile_container">
            <div class="btn_box_mobile btn_box">
                <a href="mailto:service@harmonycode.de?subject=Kontaktanfrage&body=Hallo,%0D%0A%0D%0AIch möchte Sie bezüglich folgender Angelegenheit kontaktieren:">Kontakt</a>
            </div>
        </div>
        <div class="skills_icon_container">
            <div *ngFor="let icon of iconsArray" class="icon_box" [attr.data-aos]="icon.animation" data-aos-delay="300"
                data-aos-once="true">
                <img src="assets/img/icons/{{ icon.icon }}" alt="logo of {{ icon.name }}">
                <span>{{ icon.name }}</span>
            </div>
        </div>
        <div class="my_skills_container">
            <div class="headline">
                <h2>Skills</h2>
                <div data-aos="fade-left" data-aos-once="true" class="line"></div>
            </div>
            <p> Ich bin ein erfahrener Webentwickler mit einem klaren Fokus auf E-Commerce und maßgeschneiderte Shopify-Lösungen. In den letzten Jahren habe ich zahlreiche Online-Shops optimiert und weiterentwickelt, stets mit einem hohen Anspruch an Code-Qualität, Performance und Benutzerfreundlichkeit. Mein Ansatz kombiniert agile Entwicklung mit praxisnahen Lösungen, die echten Mehrwert schaffen.</p>
            <div class="btn_box">
              <a
                class="home_contact_btn"
                href="mailto:service@harmonycode.de?subject=Kontaktanfrage&body=Hallo,%0D%0A%0D%0AIch möchte Sie bezüglich folgender Angelegenheit kontaktieren:">
                Let's talk!
              </a>
            </div>
        </div>
    </div>
    <img class="shadow_position" src="assets/img/green_shadow.png" alt="green shadow">
</section>
