<section id="portfolio" class="portfolio">
    <div class="portfolio_headline">
        <div data-aos="fade-left" data-aos-delay="300" data-aos-once="true" class="left_line"></div>
        <h2>Portfolio</h2>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="300" data-aos-once="true" class="right_line"></div>
    <app-project></app-project>
    <img class="shadow_left" src="assets/img/darkblue_shadow.png" alt="dark blue shadow">
    <img class="shadow_right" src="assets/img/lightblue_shadow.png" alt="light blue shadow">
</section>