<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="headline_box">
            <h2>Portfolio</h2>
            <div data-aos="fade-left" data-aos-delay="500" data-aos-duration="500" data-aos-once="true" class="line"></div>
        </div>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <app-project></app-project>
    <img class="shadow_left" src="assets/img/darkblue_shadow.png" alt="dark blue shadow">
    <img class="shadow_right" src="assets/img/lightblue_shadow.png" alt="light blue shadow">
</section>