<section id="portfolio" class="portfolio">
  <div class="max-width_container">
    <div class="container">
      <div class="headline_box">
        <h2>{{ 'PORTFOLIO.HEADING' | translate }}</h2>
        <div class="line reveal" appReveal></div>
      </div>
      <p>{{ 'PORTFOLIO.SUBTITLE' | translate }}</p>
    </div>
    <app-project></app-project>
  </div>
  <img class="shadow_left" src="assets/img/darkblue_shadow.png" alt="decorative dark blue shadow">
  <img class="shadow_right" src="assets/img/lightblue_shadow.png" alt="decorative light blue shadow">
</section>
