<section>
  <div class="imprintContainer">
    <h1>{{ 'IMPRINT.TITLE' | translate }}</h1>

    <h2>{{ 'IMPRINT.S1' | translate }}</h2>
    <p>
      <strong>Kevin Metzdorf</strong><br />
      Turnierweg 103<br />
      38259 Salzgitter<br />
      Deutschland
    </p>

    <h2>{{ 'IMPRINT.CONTACT' | translate }}</h2>
    <p>
      Telefon: +49 (0) 176 5597 9966<br />
      E-Mail:
      <a href="mailto:info@kevin-metzdorf.com">
        info&#64;kevin-metzdorf.com
      </a><br />
      Website: <a href="https://kevin-metzdorf.com">kevin-metzdorf.com</a>
    </p>

    <h2>{{ 'IMPRINT.RESPONSIBLE' | translate }}</h2>
    <p>
      Kevin Metzdorf<br />
      Turnierweg 103<br />
      38259 Salzgitter<br />
      Deutschland
    </p>

    <h2>{{ 'IMPRINT.EU_ODR' | translate }}</h2>
    <p [innerHTML]="('IMPRINT.EU_ODR_TEXT' | translate)"></p>
  </div>
</section>
