<section>
    <div class="imprintContainer">
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <div>
            <p>Kevin Metzdorf<br />
              Rosenthaler Str. 72A<br />
                10119 Berlin</p>
        </div>
        <div>
            <h2>Kontakt</h2>
            <p>Telefon: +49 (0)15679 356309<br />
                E-Mail: <a href="mailto:info@kevin-metzdorf.com">inf@kevin-metzdorf.com</a></p>
        </div>
        <p>Quelle: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</section>
