section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 150px;

    @media (max-width: 1150px) {
        padding: 0 75px;
    }

    @media (max-width: 950px) {
        padding: 0 25px;
    }

    @media (max-width: 650px) {
        margin-top: 100px;
    }    
}

.privacy-policy-container {
    display: flex;
    flex-direction: column;
    color: white;
    a {
        color: #00BEE8;
        text-decoration: none;
    }

    h1 {
        font-size: 2.5rem;
        font-size: clamp(1.3rem, 6vw, 2.5rem);
        margin-bottom: 12px;
    }

    h2 {
        font-size: clamp(1rem, 4vw, 1.5rem) !important;
    }
}