@import url('assets/fonts/font.scss');

html {
    font-size: 16px;
    font-family: 'Poppins';
    background-color: #141D2F;
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

body {
    margin: 0;
}

@media (max-width: 560px) {

    body h2 {
        font-size: 3.2rem !important;
    }
}