<section id="home" class="home_container">
    <div class="max-width_container">
        <img class="blue_shadow" src="assets/img/two_clouds.png" alt="foggy element">
        <div class="profile_card">
            <img class="picture_me" src="assets/img/Groß%20(Profilbild-Kevin-Metzdorf-Gross).png" alt="picture of kevin metzdorf">
        </div>
        <div class="header_name_parent_container">
            <div class="header_name_container">
                <span class="text_box">I am</span>
                <div class="name_box">
                    <h1 class="hero_title" data-aos="fade-left" data-aos-duration="1000">Kevin Metzdorf</h1>
                    <span class="hero_subline" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                      <span class="gradient_text">Shopify</span><span class="role_text"> Developer</span>
                    </span>
                </div>
            </div>
            <div class="btn_box">
              <a
                class="btn btn--primary"
                href="https://outlook.office.com/bookwithme/user/d3f7cf3b05804831b053b897c120a8a1@kevin-metzdorf.com/meetingtype/rDRl5SD-10Ki_xOLWuY-Tw2?anonymous&ismsaljsauthenabled&ep=mlink" target="_blank" rel="noopener noreferrer">
                Projekt anfragen
              </a>
            </div>
        </div>
      <div class="go_down_container" onclick="window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'})">
        <span>Scroll down</span>
        <img src="assets/img/arrow-down-line.png" alt="arrow that looks down">
      </div>
    </div>
    <div class="social_icons_container">
        <div data-aos="fade-right" data-aos-anchor="#home" data-aos-delay="300" class="line"></div>
        <a class="link_hover" href="https://github.com/scriptscout" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profil von Kevin Metzdorf in neuem Tab öffnen"><img
                src="assets/img/github.png" alt="GitHub Logo"></a>
        <a class="link_hover" href="https://outlook.office.com/bookwithme/user/d3f7cf3b05804831b053b897c120a8a1@kevin-metzdorf.com/meetingtype/rDRl5SD-10Ki_xOLWuY-Tw2?anonymous&ismsaljsauthenabled&ep=mlink" aria-label="E-Mail an Kevin Metzdorf senden"><img src="assets/img/email.png" alt="E-Mail Logo"></a>
        <a class="link_hover" href="https://www.linkedin.com/in/kevin-metzdorf-581895263/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profil von Kevin Metzdorf in neuem Tab öffnen"><img
                src="assets/img/linkedin.png" alt="LinkedIn Logo"></a>
    </div>
    <img class="blue_shape_desktop" src="assets/img/blue_shape_desktop.png" alt="wave element">
</section>
