<div class="home_container">
    <img class="blue_shape_desktop" src="assets/img/blue_shape_desktop.png" alt="">
    <img class="blue_shadow" src="assets/img/two_clouds.png" alt="">
    <img class="picture_me" src="assets/img/me.png" alt="">
    <div class="header_name_parent_container">
        <div class="header_name_container">
            <div class="left_box">
            <span>I am</span>
        </div>
        <div class="right_box">
            <span>Kevin Ammerman</span>
            <span>FRONTEND Developer</span>
        </div>
        </div>
        <div class="btn_box">
            <a class="home_contact_btn" href="#">Let's talk!</a>
        </div> 
    </div>
</div>