<section id="home" class="home_container">
    <div class="max-width_container">
        <img class="blue_shadow" src="assets/img/two_clouds.png" alt="foggy element">
        <img class="picture_me" src="assets/img/kevin-metzdorf.png" alt="picture of kevin metzdorf">
        <div class="header_name_parent_container">
            <div class="header_name_container">
                <span class="text_box">I am</span>
                <div class="name_box">
                    <span data-aos="fade-left" data-aos-duration="1000">Kevin Metzdorf</span>
                    <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">JUNIOR Java Developer</span>
                </div>
            </div>
            <div class="btn_box">
                <a class="home_contact_btn" href="#contact">Let's talk!</a>
            </div>
        </div>
        <div class="go_down_container">
            <span>Scroll down</span>
            <img src="assets/img/arrow-down-line.png" alt="arrow that looks down">
        </div>
    </div>
    <div class="social_icons_container">
        <div data-aos="fade-right" data-aos-anchor="#home" data-aos-delay="300" class="line"></div>
        <a class="link_hover" href="https://github.com/scriptscout" target="_blank"><img
                src="assets/img/github.png" alt="github logo"></a>
        <a class="link_hover" href="mailto:info@kevin-metzdorf.com"><img src="assets/img/email.png" alt="email logo"></a>
        <a class="link_hover" href="https://www.linkedin.com/in/kevin-metzdorf-581895263/" target="_blank"><img
                src="assets/img/linkedin.png" alt="linkedIn logo"></a>
    </div>
    <img class="blue_shape_desktop" src="assets/img/blue_shape_desktop.png" alt="wave element">
</section>
